body { font-family: "Bodoni Moda", serif;
    color: rgb(0, 99, 99);
    background: rgb(104, 255, 230);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(83, 239, 245);
    padding: 20px;
    font-size: 32px;
    color: rgb(16, 45, 46);
}

section {
    background: rgb(60, 242, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:rgb(34, 54, 50);
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}
    
p {
    font-size: 25;
}